# .NET
ChatApp/bin/
ChatApp/obj/
ChatApp/*.user
ChatApp/*.vspscc
ChatApp/.vs/
ChatApp/*.suo

# Node.js
chat-frontend/node_modules/
chat-frontend/dist/
chat-frontend/.env
chat-frontend/.DS_Store

# Ignorar configurações sensíveis do backend
ChatApp/appsettings.json
ChatApp/appsettings.Development.json


# Vite
chat-frontend/.vite/

# General
*.log
.env
